*{box-sizing:border-box;font-family:Arial}
body{margin:0;height:100vh;overflow:hidden}

.bg{
  position:fixed;inset:0;
  background:url('../assets/img/bg-planet.jpg') center/cover;
  animation:zoom 25s linear infinite;
}
@keyframes zoom{to{transform:scale(1.1)}}

.login-wrapper{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.login-card{
  width:420px;
  background:rgba(255,255,255,.95);
  padding:35px;
  border-radius:25px;
  text-align:center;
  box-shadow:0 30px 60px rgba(0,0,0,.3);
  animation:float 3s ease-in-out infinite;
}
@keyframes float{50%{transform:translateY(-12px)}}

.logo{width:90px}
.subtitle{font-size:14px;color:#555}

input{
  width:100%;padding:12px;
  margin:10px 0;
  border-radius:10px;
  border:1px solid #ccc;
}

.btn{
  width:100%;
  padding:12px;
  margin-top:8px;
  border:none;
  border-radius:12px;
  font-weight:bold;
  cursor:pointer;
  position:relative;
}

.siswa{background:#2ecc71;color:#fff}
.admin{background:#1abc9c;color:#fff}
.register{background:#fff;color:#2ecc71;border:2px solid #2ecc71}

.loader{
  display:none;
  width:22px;height:22px;
  border:3px solid rgba(255,255,255,.4);
  border-top:3px solid white;
  border-radius:50%;
  animation:spin 1s linear infinite;
  margin:auto;
}
@keyframes spin{to{transform:rotate(360deg)}}

.btn.loading .btn-text{display:none}
.btn.loading .loader{display:block}
