body{margin:0;font-family:Arial;background:#eafff3}

.sidebar{
  position:fixed;
  width:240px;
  height:100vh;
  background:#2ecc71;
  padding:15px;
  transition:.3s;
}
.sidebar.close{width:70px}

.toggle{
  background:white;
  border:none;
  padding:8px;
  border-radius:8px;
  cursor:pointer;
}

.menu a{
  display:block;
  background:white;
  color:#2ecc71;
  padding:10px;
  margin:10px 0;
  border-radius:10px;
  text-decoration:none;
}

.main{
  margin-left:260px;
  padding:20px;
  transition:.3s;
}
.sidebar.close ~ .main{margin-left:90px}

.card{
  background:white;
  padding:20px;
  border-radius:15px;
  margin-bottom:15px;
}
